// Add bulma overrides before importing bulma
$body-family: "Play";

$body-overflow-y: auto;
$body-background-color: #171a21;
$body-weight: 400;
$body-font-size: 1.1em;

@import "bulma/sass/utilities/";
@import "bulma/sass/base/";
@import "bulma/sass/themes/";
@import "bulma/sass/elements/content";
@import "bulma/sass/elements/image";

// Overrides which are not customizable with variables
.content h1 {
  font-size: 1.9em;
}

.content table {
  width: 100%;
}
