// Add bulma overrides before importing bulma
$family-primary: "Play";

$body-overflow-y: auto;
$body-background-color: #171a21;
$body-weight: 400;
$body-font-size: 1.1em;
$link-hover: variables.$orange-color;

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/image";

// Overrides which are not customizable with variables
.content h1 {
  font-size: 1.9em;
}
