@charset "utf-8";
@use "bulma";

@font-face {
  font-display: block;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/play-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-display: block;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v11-latin-700.woff2") format("woff2"),
    url("../fonts/play-v11-latin-700.woff") format("woff");
}

img.viewer-move {
  border: solid 2px variables.$white;
}
