@charset "utf-8";

// Generic layout variables
$site-min-height: 380px;
$site-max-height: 1280px;
$top-bar-size: 60px;

// Colors
$background-color-left-first: #1b2838;
$background-color-left-second: #171a21;
$background-color-right: #f8f9fa;
$drop-shadow-color: rgba(0, 0, 0, 0.25);
$orange-color: #fb7516;
$font-color-left: #f8f9fa;
$font-color-right: #1a1a1a;
$link-color-right: #485fc7;

// Extra breakpoint next to the standard Bulma ones
$mobile: 500px;

// Bulma variables + overrides
@forward "bulma/sass/utilities/initial-variables" with (
  $grey-dark: $font-color-right,
);

@forward "bulma/sass/utilities/derived-variables";

@forward "bulma/sass/base/" with (
  $body-family: "Play",
  $body-overflow-y: auto,
  $body-background-color: $background-color-left-second,
  $body-weight: 400,
  $body-font-size: 1.1em,
);
