@charset "utf-8";

// add global variables here
$drop-shadow-color: rgba(0, 0, 0, 0.25);
$orange-color: #fb7516;
$site-min-height: 380px;
$site-max-height: 1024px;
$mobile: 500px;
$top-bar-size: 60px;

// background
$background-color-left-first: #1b2838;
$background-color-left-second: #171a21;
$background-color-right: #f8f9fa;

// left
$font-color-left: #f8f9fa;

// right
$font-color-right: #1a1a1a;
